#contact_form {
	width: 25%;
	display: inline-block;
	position: relative;
	left: 41%;
}
.row {
	display: inline-block;
}
.required {
	position: relative;
	right: 55%;
}
.row .input {
	border: 1px solid black;
	float: right;
	clear: left;
}